 <fieldset>
      <div class="float_left">
    <%= f.label :first_name %>
      </div>
      <div class="text_entry_box">
    <%= f.text_field :first_name %>
  </div>
  </fieldset>

  <fieldset>
    <div class="float_left">
    <%= f.label :last_name %>
    </div>
    <div class="text_entry_box">
    <%= f.text_field :last_name %>
    </div>
  </fieldset>

   <fieldset>
    <div class="float_left">
    <%= f.label :email %>
    </div>
    <div class="text_entry_box">
    <%= f.text_field :email %>
    </div>
  </fieldset>

  <fieldset>
    <div class="float_left">
    <%= f.label :github %>
    </div>
    <div class="text_entry_box">
    <%= f.text_field :github %>
    </div>
  </fieldset>

  <fieldset>
    <div class="float_left">
    <%= f.label :twitter %>
    </div>
    <div class="text_entry_box">
    <%= f.text_field :twitter %>
    </div>
  </fieldset>

  <fieldset>
    <div class="float_left">
    <%= f.label :password %>
    </div>
    <div class="text_entry_box">
    <%= f.text_field :password %>
    </div>
  </fieldset>